{% extends "base.html" %}
{% block content %}

<h1>Inventory</h1>
<table style="width:100%">
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Status</th>
        </tr>
{% for item in object_list %}
        {% for itemdetail in item.itemdetail_set.all %}
            <tr>
                <td>{{item.item_name}}</td>
                <td>{{itemdetail.item_quantity}}</td>
                <td>{{itemdetail.item_rate}}</td>
                <td>{{ itemdetail.item_status|yesno:"Available,Low stock" }}</td>
            </tr>
        {% endfor %}
    {% empty %}
    Inventory is Empty.
{% endfor %}
</table> 
{% endblock %}